.layout{
    display: grid;
    grid-template-columns: 20% auto 10%;
}

.left{
    display: grid;
    grid-template-columns:auto 40%;
    background-color: lightgray;
    text-align: center;
    font-size: 20pt;
    
}

button{
    font-size: 14pt;
    border-radius: 15px;
    margin-right: 10px;
}
.inputBox{
    border-radius: 15px;
    text-align: center;
    font-size: 16pt;
    margin-right: 10px;
}

.middle{
    background-color: grey;
    margin: 15px;
}

.right{
    display: grid;
    grid-template-rows:auto;
    background-color: lightgray;
    text-align: center;
    font-size: 20pt;
    
}

#searchBtn{
    margin: 10px;
    grid-column-start: 1;
    grid-column-end: 2;

}

.rightBtns{
    height: 50px;
    margin: 15px;
}

.options{
    font-size: 16pt;
}