/*header*/
header {
    margin: 0;
    padding: 20px 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(141, 154, 232);
}

div.title {
    font-size: 80px;
    color: rgb(24, 24, 58);
    font-family: "Trebuchet MS";
}
div.icon {
    margin-right: 50px;
    float: left;
}
div.icon img {
    height: 80px;
    width: 80px;
}

/*body*/
body {
    margin: 0;
}

.layout{
    display: grid;
    grid-template-columns: 20% auto 10%;
}

/*search items*/
.left{
    display: grid;
    grid-template-columns:auto 40%;
    background-color: lightgray;
    text-align: center;
    font-size: 20pt;
    
}

button{
    font-size: 14pt;
    border-radius: 15px;
    margin-right: 10px;
}
.inputBox{
    border-radius: 15px;
    text-align: center;
    font-size: 16pt;
    margin-right: 10px;
}

/*table*/
.middle{
    align-content: center;
    background-color: grey;
    margin: 15px;
}

/*options*/
.right{
    display: grid;
    grid-template-rows:auto;
    background-color: lightgray;
    text-align: center;
    font-size: 20pt;
    
}

#searchBtn{
    margin: 10px;
    grid-column-start: 1;
    grid-column-end: 2;

}

.rightBtns{
    height: 50px;
    margin: 15px;
}
